.articulos,
.articulos * {
  box-sizing: border-box;
}
.articulos {
  background: #121217;
  width:100vw ;
  height: 100.00vh;
  position: relative;
}
body{
    background-size: cover;
    background: #121217;
    width:100vw;
    height:100vh ;
}
.depth-4-frame-3 {
  border-radius: 50%;
  width: auto;
  height: 3.91vh;
  position: absolute;
  left: 94.58vw;
  top: 1.86vh;
  overflow: hidden;
  object-fit: cover;
}

.group-1 {
  position: absolute;
  inset: 0;
}
.vector-4 {
  width: auto;
  height: 1.39vh;
  position: absolute;
  left: 80.28vw;
  top: 2.83vh;
  overflow: visible;
}
.astra-index {
   color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 5.00vw;
  top: 2.30vh;
  width: 10.28vw;
}
.frame-1 {
  width: auto;
  height:  1.74vh;
  position: absolute;
  left: 2.15vw;
  top:2.3vh;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width: auto;
  height:  1.18vh;
  position: absolute;
  left: 83.82vw;
  top:  2.83vh;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width: auto;
  height: 1.46vh;
  position: absolute;
  left: 86.94vw;
  top:  2.83vh;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width: auto;
  height: 1.32vh;
  position: absolute;
  left: 90.35vw;
  top:  2.83vh;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.line-8 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw 0 0 0;
  width: 61.46vh;
  height: 0.00vh;
  position: absolute;
  left: 75.28vw;
  top: 85.36vh;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.add-circle {
  width: 1.67vw;
  height: 2.34vh;
  position: absolute;
  left: 2.99vw;
  top: 82.91vh;
  overflow: visible;
}
.art-culos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 73.82vw;
  top: 2.83vh;
  width: 4.51vw;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 69.93vw;
  top: 2.83vh;
  width: 2.36vw;
  height: 2.15vh;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 62.29vw;
  top: 2.83vh;
  width: 5.69vw;
  height: 4.20vh;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 56.25vw;
  top: 2.83vh;
  width: 4.10vw;
  height: 4.20vh;
}
.depth-6-frame-2 {
  border-radius: 12px;
  width: 21.04vw;
  height: 15.72vh;
  position: absolute;
  left: 51.25vw;
  top: 63.09vh;
  overflow: hidden;
  object-fit: cover;
}
.depth-6-frame-3 {
  border-radius: 12px;
  width: 21.04vw;
  height: 15.72vh;
  position: absolute;
  left: 51.25vw;
  top: 25.39vh;
  overflow: hidden;
  object-fit: cover;
}
.depth-6-frame-1 {
  border-radius: 12px;
  width: 21.04vw;
  height: 15.72vh;
  position: absolute;
  left: 51.25vw;
  top: 44.24vh;
  overflow: hidden;
  object-fit: cover;
}
.astronom-a {
  color: #ad94c7;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 2.99vw;
  top: 45.41vh;
}
.los-astr-nomos-han-descubierto-un-nuevo-tipo-de-estrella-que-pulsa-como-una-variable-cefeida {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 2.99vw;
  top: 47.85vh;
  width: 39.79vw;
}
.por-astra-index {
  color: #ad94c7;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 2.99vw;
  top: 52.15vh;
}
.rectangle-55 {
  background: #362645;
  border-radius: 16px;
  width: 8.54vw;
  height: 3.12vh;
  position: absolute;
  left: 2.15vw;
  top: 55.76vh;
}
.ver-publicaci-n {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 2.78vw;
  top: 56.30vh;
}
.astronom-a2 {
  color: #ad94c7;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 2.99vw;
  top: 26.56vh;
}
.por-astra-index2 {
  color: #ad94c7;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 2.99vw;
  top: 33.30vh;
}
.un-nuevo-estudio-sugiere-que-la-v-a-l-ctea-podr-a-ser-m-s-grande-de-lo-que-se-pensaba-anteriormente {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 2.99vw;
  top: 29.00vh;
  width: 39.79vw;
}
.rectangle-54 {
  background: #362645;
  border-radius: 16px;
  width: 8.54vw;
  height: 3.12vh;
  position: absolute;
  left: 2.15vw;
  top: 36.91vh;
}
.ver-publicaci-n2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 2.78vw;
  top: 37.45vh;
}
.astronom-a3 {
  color: #ad94c7;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 2.99vw;
  top: 64.26vh;
}
.el-telescopio-espacial-james-webb-se-lanzar-el-18-de-diciembre-de-2021 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 2.99vw;
  top: 66.70vh;
  width: 38.82vw;
}
.por-astra-index3 {
  color: #ad94c7;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 2.99vw;
  top: 71.09vh;
}
.rectangle-53 {
  background: #362645;
  border-radius: 16px;
  width: 8.54vw;
  height: 3.12vh;
  position: absolute;
  left: 2.15vw;
  top: 74.71vh;
}
.ver-publicaci-n3 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 2.78vw;
  top: 75.24vh;
}
.art-culos2 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 2.50vw;
  line-height: 4.39vh;
  letter-spacing: -1px;
  font-weight: 700;
  position: absolute;
  left: 2.99vw;
  top: 13.96vh;
}
.autores {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 2.50vw;
  line-height: 4.39vh;
  letter-spacing: -1px;
  font-weight: 700;
  position: absolute;
  left: 77.08vw;
  top: 13.96vh;
}
.group-123 {
  position: absolute;
  inset: 0;
}
.rectangle-4 {
  background: #333f48;
  border-radius: 20px;
  width: 33.33vw;
  height: 3.91vh;
  position: absolute;
  left: 16.74vw;
  top: 87.79vh;
}
.cargar-m-s {
  color: #ffffff;
  text-align: center;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 30.66vw;
  top: 88.72vh;
}
.avatar-block {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 11.94vw;
  position: absolute;
  left: 77.99vw;
  top: 40.14vh;
}
.avatar {
  border-radius: 50%;
  flex-shrink: 0;
  width: 2.8vw;
  height: 3.9vh;
  position: relative;
  overflow: hidden;
}
.shape {
  width: 2.78vw;
  height: 3.91vh;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  object-fit: cover;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.title {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: 1.11vw;
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.description {
  color: var(--var-sds-color-text-default-tertiary, #b3b3b3);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: 1.11vw;
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.avatar-block2 {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 11.94vw;
  position: absolute;
  left: 77.99vw;
  top: 47.46vh;
}
.avatar2 {
  border-radius: 50%;
  border-style: solid;
  border-color: #000000;
  border-width: 0.07vw;
  flex-shrink: 0;
  width: 2.8vw;
  height: 3.9vh;
  position: relative;
  overflow: hidden;
}
.avatar-block3 {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 11.94vw;
  position: absolute;
  left: 77.99vw;
  top: 25.00vh;
}
.avatar-block4 {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-300, 12px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 11.94vw;
  position: absolute;
  left: 77.99vw;
  top: 32.32vh;
}
