/*================*/
/*Inicio*/ 
/*======1440x1800=====*/

.inicio {
  background: #121217;
  position: relative;
}
.depth-6-frame-0 {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  border-radius:0.67vh;
  width: 64.4vw;
  height: 26.7vh;
  position: absolute;
  left: 17.8vw;
  top: 8.8vh;
  overflow: hidden;
  object-fit: cover;
}
.rectangle-38 {
  background: #1c1f26;
  border-radius: 0.67vh;
  width: 33.3vw;
  height: 3.5vh;
  position: absolute;
  left: 33.3vw;
  top: 30.1vh;
}
.search {
  width: 1.1vh;
  height: 1.1vh;
  position: absolute;
  left:34.3vw;
  top: 31.3vh;
  overflow: visible;
}
.group-100 {
  position: absolute;
  inset: 0;
}
.rectangle-37 {
  background: #304fe8;
  border-radius: 0.67vh;
  width: 6.6vw;
  height: 2.7vh;
  position: absolute;
  left: 59.5vw;
  top: 30.5vh;
}
.search2 {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.1vw;
  line-height: auto;
  font-weight: 700;
  position: absolute;
  left: 60.9vw;
  top: 31vh;
}
.busca-sobre-el-espacio {
  color: #9ea3b8;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 1.1vw;
  line-height: auto;
  font-weight: 400;
  position: absolute;
  left: 36.39vw;
  top: 31.17vh;
}
.destacado {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.53vw;
  line-height: auto;
  font-weight: 700;
  position: absolute;
  left: 18.19vw;
  top: 39.39vh;
}
.group-105 {
  position: absolute;
  inset: 0;
}
.depth-7-frame-0 {
  border-radius: 0.67vh;
  width: 16.67vw;
  height: 13.33vh;
  position: absolute;
  left: 18.19vw;
  top: 42.5vh;
  overflow: hidden;
  object-fit: cover;
}
.marte {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 18.19vw;
  top: 56.72vh;
}
.group-106 {
  position: absolute;
  inset: 0;
}
.depth-7-frame-02 {
  border-radius: 0.67vh;
  width: 16.67vw;
  height: 13.33vh;
  position: absolute;
  left: 35.69vw;
  top: 42.5vh;
  overflow: hidden;
  object-fit: cover;
}
.jupiter {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.1vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 35.69vw;
  top: 56.72vh;
}
.group-107 {
  position: absolute;
  inset: 0;
}
.depth-7-frame-03 {
  border-radius: 0.67vh;
  width: 16.67vw;
  height: 13.33vh;
  position: absolute;
  left: 53.19vw;
  top: 42.5vh;
  overflow: hidden;
  object-fit: cover;
}
.saturno {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 53.19vw;
  top: 56.72vh;
}
.group-108 {
  position: absolute;
  inset: 0;
}
.depth-7-frame-04 {
  border-radius: 0.67vh;
  width: 16.67vw;
  height: 13.33vh;
  position: absolute;
  left: 70.68vw;
  top: 42.5vh;
  overflow: hidden;
  object-fit: cover;
}
.la-luna {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 70.69vw;
  top: 56.72vh;
}
.stream-en-vivo {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.53vw;
  line-height: auto;
  font-weight: 700;
  position: absolute;
  left: 18.19vw;
  top: 60.06vh;
}
.group-104 {
  position: absolute;
  inset: 0;
}
.depth-6-frame-02 {
  border-radius: 0.67vh;
  width: 32.22vw;
  height: 14.22vh;
  position: absolute;
  left: 18.19vw;
  top: 63.17vh;
  overflow: hidden;
  object-fit: cover;
}
.explorando-marte-junto-a-la-nasa {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: auto;
  font-weight: 700;
  position: absolute;
  left: 51.53vw;
  top: 64.06vh;
}
.unete-a-nosotros-a-ver-los-ultimos-descubrimientos-sobre-el-planeta-rojo {
  color: #9ea3b8;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 1.11vw;
  line-height: auto;
  font-weight: 400;
  position: absolute;
  left: 51.53vw;
  top: 66vh;
  width: 23.89vw;
}
._15-minutos-restantes {
  color: #9ea3b8;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 1.11vw;
  line-height: auto;
  font-weight: 400;
  position: absolute;
  left: 51.53vw;
  top: 71.5vh;
}
.group-97 {
  width: 7.43vw;
  height: 1.78vh;
  position: static;
}
.depth-8-frame-1 {
  background: #304fe8;
  border-radius: 0.67vh;
  width:7.53vw;
  height: 3.78vh;
  position: absolute;
  left: 75.25vw;
  top: 67vh;
  overflow: hidden;
}
.ver-ahora {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 76.85vw;
  top: 68vh;
}
.articulo {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.53vw;
  line-height: 1.56vh;
  font-weight: 700;
  position: absolute;
  left: 18.19vw;
  top: 79.39vh;
}
.group-102 {
  position: absolute;
  inset: 0;
}
.depth-7-frame-05 {
  border-radius: 0.67vh;
  width: 20.9vw;
  height: 9.39vh;
  position: absolute;
  left: 18.19vw;
  top: 82.5vh;
  overflow: hidden;
  object-fit: cover;
}
.porque-las-estrellas-brillan {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 18.19vw;
  top: 92.56vh;
}
.lectura-de-3-minutos {
  color: #9ea3b8;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: auto;
  font-weight: 400;
  position: absolute;
  left: 18.19vw;
  top: 94.5vh;
}
.group-101 {
  position: absolute;
  inset: 0;
}
.depth-7-frame-06 {
  border-radius: 0.67vh;
  width: 20.9vw;
  height: 9.39vh;
  position: absolute;
  left: 39.93vw;
  top: 82.5vh;
  overflow: hidden;
  object-fit: cover;
}
.el-misterio-de-jupiter-y-su-gran-punto-rojo {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height:auto;
  font-weight: 500;
  position: absolute;
  left: 39.93vw;
  top: 92.56vh;
  width: 20.9vw;
}
.lectura-de-4-minutos {
  color: #9ea3b8;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: auto;
  font-weight: 400;
  position: absolute;
  left: 39.93vw;
  top: 97.3vh;
}
.group-103 {
  position: absolute;
  inset: 0;
}
.depth-7-frame-07 {
  border-radius: 0.67vh;
  width: 20.90vw;
  height: 9.44vh;
  position: absolute;
  left: 61.67vw;
  top: 82.5vh;
  overflow: hidden;
  object-fit: cover;
}
.como-se-forman-los-agujeros-negros {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 61.67vw;
  top: 92.61vh;
}
.lectura-de-5-minutos {
  color: #9ea3b8;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: auto;
  font-weight: 400;
  position: absolute;
  left: 61.67vw;
  top: 95vh;
}
.bienvenido-a-astra-index {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 3.33vw;
  line-height: auto;
  letter-spacing: -0.14vw;
  font-weight: 700;
  position: absolute;
  left: 31.67vw;
  top: 21vh;
}
.t-guia-cosmologica {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 1.11vw;
  line-height:auto;
  font-weight: 400;
  position: absolute;
  left: 44.51vw;
  top: 27.5vh;
}
.depth-4-frame-3 {
  border-radius: 50%;
  width: auto;
  height: 2.7vh;
  position: absolute;
  left: 94.58vw;
  top: 1vh;
  overflow: hidden;
  object-fit: cover;
}
.vector-4 {
  width: 1.11vw;
  height: 1.11vw;
  position: absolute;
  left: 80.28vw;
  top: 1.61vh;
  overflow: visible;
}
.art-culos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 74.24vw;
  top: 1.61vh;
  width: 4.51vw;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height:auto;
  font-weight: 500;
  position: absolute;
  left: 69.51vw;
  top: 1.61vh;
  width: 2.36vw;
  height: 1.22vh;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 61.46vw;
  top: 1.61vh;
  width: 5.69vw;
  height: 2.39vh;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.85vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 53.4vw;
  top: 1.4vh;
  width: 4.10vw;
  height: 2.39vh;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.astra-index {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 1.28vh;
  font-weight: 700;
  position: absolute;
  left: 5vw;
  top:1.61vh;
  width: 10.28vw;
}
.frame-1 {
  width: 1.5vw;
  height: 1.5vw;
  position: absolute;
  left: 2vw;
  top: 1.61vh;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width:1.11vw;
  height: 1.11vw;
  position: absolute;
  left: 83.82vw;
  top: 1.61vh;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width:1.11vw;
  height: 1.11vw;
  position: absolute;
  left: 86.94vw;
  top: 1.61vh;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width: 1.11vw;
  height: 1.11vw;
  position: absolute;
  left: 90.35vw;
  top: 1.61vh;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.group-53 {
  display: flex;
  flex-direction: row;
  gap: 0.44vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 77.71vw;
  top: 39.11vh;
}
.see-all {
  color: var(--ffffff, #ffffff);
  text-align: left;
  font-family: var(--button-text-font-family, "Gilroy-Semibold", sans-serif);
  font-size: var(--button-text-font-size, 1.11vw);
  line-height: var(--button-text-line-height, 1.22vh);
  font-weight: var(--button-text-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svgexport-4 {
  flex-shrink: 0;
  width: 1.11vw;
  height: 0.89vh;
  position: relative;
  overflow: visible;
}
.group-99 {
  position: absolute;
  inset: 0;
}
.group-54 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 77.71vw;
  top: 79.56vh;
}
.svgexport-42 {
  flex-shrink: 0;
  width: 1.11vw;
  height: 0.89vh;
  position: relative;
  overflow: visible;
}
.group-98 {
  position: absolute;
  inset: 0;
}
.group-55 {
  display: flex;
  flex-direction: row;
  gap: 0.44vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 77.71vw;
  top: 60.22vh;
}
.svgexport-43 {
  flex-shrink: 0;
  width: 1.11vw;
  height: 0.88vh;
  position: relative;
  overflow: visible;
}
.destacados, .live, .art-culos, .astra-index, .chat {
  cursor: pointer;
}
#notificaciones-container {
  min-width: 300px;
  max-width: 90vw;
  pointer-events: auto;
}
