.perfil-de-usuario-articulos,
.perfil-de-usuario-articulos * {
  box-sizing: border-box;
}
.perfil-de-usuario-articulos {
  background: #121217;
  height: 100.00vh;
  position: relative;
}
.feed {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 16.39vw;
  top: 28.22vh;
}
.reels {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 21.11vw;
  top: 28.22vh;
}
.articulos {
  color: #a1824a;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 25.97vw;
  top: 28.22vh;
}
.menciones {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 32.57vw;
  top: 28.22vh;
}
.estadisticas {
  position: absolute;
  color: #fff;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  margin-left: 1.39vw;
  cursor: pointer;
  left: 39.58vw;
  top: 28.22vh;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw 0 0 0;
  width: 62.92vw;
  height: 0.00vh;
  position: absolute;
  left: 15.35vw;
  top: 31.93vh;
  transform-origin: 0 0;
  transform: rotate(0.126deg) scale(1, 1);
}
.rectangle-5 {
  background: #d9d9d9;
  width: 2.36vw;
  height: 0.39vh;
  position: absolute;
  left: 26.94vw;
  top: 31.54vh;
}
.depth-6-frame-1 {
  border-radius: 12px;
  width: 21.04vw;
  height: 15.72vh;
  position: absolute;
  left: 59.38vw;
  top: 56.05vh;
  overflow: hidden;
  object-fit: cover;
}
.depth-6-frame-12 {
  border-radius: 12px;
  width: 21.04vw;
  height: 15.72vh;
  position: absolute;
  left: 59.38vw;
  top: 35.35vh;
  overflow: hidden;
  object-fit: cover;
}
.rectangle-28 {
  background: #362645;
  border-radius: 16px;
  width: 9.79vw;
  height: 3.12vh;
  position: absolute;
  left: 19.58vw;
  top: 45.90vh;
}
.radiogalaxias-con-jets-que-est-n-desalineados-con-sus-galaxias-anfitrionas {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 19.58vw;
  top: 37.79vh;
  width: 39.79vw;
}
.por-astra-index-astrof-sica-10-minutos {
  color: #ad94c7;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 19.58vw;
  top: 42.29vh;
}
.astronomia {
  color: #ad94c7;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 19.58vw;
  top: 35.35vh;
}
.leer-articulo {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 20.07vw;
  top: 46.29vh;
  width: 8.75vw;
}
.astronomia2 {
  color: #ad94c7;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 19.58vw;
  top: 56.05vh;
}
.el-telescopio-espacial-the-hubble-ha-descubierto-un-exoplaneta-con-cielo-azul {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 19.58vw;
  top: 58.50vh;
  width: 39.79vw;
}
.por-astra-index-astrof-sica-2-meses {
  color: #ad94c7;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 19.58vw;
  top: 62.79vh;
}
.rectangle-27 {
  background: #362645;
  border-radius: 16px;
  width: 9.79vw;
  height: 3.12vh;
  position: absolute;
  left: 19.58vw;
  top: 66.41vh;
}
.rectangle-26 {
  background: #333f48;
  border-radius: 20px;
  width: 33.33vw;
  height: 3.91vh;
  position: absolute;
  left: 38.61vw;
  top: 86.82vh;
}
.leer-articulo2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 20.07vw;
  top: 66.89vh;
  width: 8.75vw;
}
.cargar-m-s {
  color: #ffffff;
  text-align: center;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 52.53vw;
  top: 87.74vh;
}
.depth-4-frame-3 {
  border-radius: 20px;
  width: 2.78vw;
  height: 3.91vh;
  position: absolute;
  left: 94.58vw;
  top: 1.86vh;
  overflow: hidden;
  object-fit: cover;
}
.vector-4 {
  width: 1.39vw;
  height: 1.95vh;
  position: absolute;
  left: 80.28vw;
  top: 2.83vh;
  overflow: visible;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.astra-index {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 5.00vw;
  top: 2.00vh;
  width: 10.28vw;
}
.frame-1 {
  width: 1.74vw;
  height: 2.44vh;
  position: absolute;
  left: 2.15vw;
  top: 1.86vh;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width: 1.18vw;
  height: 1.95vh;
  position: absolute;
  left: 83.82vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width: 1.46vw;
  height: 1.95vh;
  position: absolute;
  left: 86.94vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width: 1.32vw;
  height: 1.95vh;
  position: absolute;
  left: 90.35vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.depth-4-frame-2 {
  border-radius: 100px;
  width: 8.89vw;
  height: 12.50vh;
  position: absolute;
  left: 15.28vw;
  top: 11.43vh;
  overflow: hidden;
  object-fit: cover;
}
.katherine {
  color: #ffffff;
  text-align: center;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 1.53vw;
  line-height: 2.73vh;
  font-weight: 700;
  position: absolute;
  left: 26.53vw;
  top: 13.77vh;
}
.astrof-sica-el-cielo-de-la-noche-cienca-los-angeles-ca {
  color: #a1824a;
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 400;
  position: absolute;
  left: 26.53vw;
  top: 17.68vh;
}
.rectangle-2 {
  background: #362645;
  border-radius: 20px;
  width: 16.25vw;
  height: 3.91vh;
  position: absolute;
  left: 36.94vw;
  top: 13.18vh;
}
.nueva-publicacion {
  color: #ffffff;
  text-align: center;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 40.66vw;
  top: 14.11vh;
}
.seguidores {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.53vw;
  font-weight: 500;
  position: absolute;
  left: 64.72vw;
  top: 17.29vh;
}
.publicaciones {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.53vw;
  font-weight: 500;
  position: absolute;
  left: 81.60vw;
  top: 17.19vh;
}
._255-mil {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.53vw;
  font-weight: 500;
  position: absolute;
  left: 57.92vw;
  top: 17.19vh;
}
._20 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.53vw;
  font-weight: 500;
  position: absolute;
  left: 78.61vw;
  top: 17.19vh;
}
.art-culos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 73.68vw;
  top: 2.83vh;
  width: 4.51vw;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 69.79vw;
  top: 2.83vh;
  width: 2.36vw;
  height: 2.15vh;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 62.15vw;
  top: 2.83vh;
  width: 5.69vw;
  height: 4.20vh;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 56.11vw;
  top: 2.83vh;
  width: 4.10vw;
  height: 4.20vh;
}
