.perfil-de-usuario-estadisticas,
.perfil-de-usuario-estadisticas * {
  box-sizing: border-box;
}
.perfil-de-usuario-estadisticas {
  background: #121217;
  height: 167.87vh;
  position: relative;
  overflow: hidden;
}
.estadisticas {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 2.22vw;
  line-height: 3.91vh;
  font-weight: 700;
  position: absolute;
  left: 3.33vw;
  top: 12.50vh;
}
.bienvenido-a-tu-pagina-de-estadisticas-todo-la-informacion-sobre-tu-contenido-esta-aqui {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 3.40vw;
  top: 20.31vh;
}
.vistas-de-contenido {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 3.89vw;
  top: 30.76vh;
}
.depth-5-frame-2 {
  border-radius: 12px;
  border-style: solid;
  border-color: #333366;
  border-width: 0.07vw;
  padding: 24px;
  width: 31.67vw;
  height: 30.66vh;
  position: absolute;
  left: 26.39vw;
  top: 38.18vh;
}
.vistas {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 500;
  position: absolute;
  left: 1.74vw;
  top: 2.44vh;
}
.depth-6-frame-1 {
  padding: 16px 0px 16px 0px;
  width: 28.19vw;
  height: 22.66vh;
  min-height: 17.58vh;
  position: absolute;
  left: 1.74vw;
  top: 5.57vh;
}
.depth-7-frame-0 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 1.56vh;
  overflow: hidden;
}
.vector-0 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.vector-1 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.vector-2 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.depth-8-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 27.85vw;
  height: 14.26vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-8-frame-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 27.85vw;
  height: 14.26vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-7-frame-1 {
  width: 28.19vw;
  height: 1.95vh;
  position: absolute;
  left: 0.00vw;
  top: 19.14vh;
}
.depth-8-frame-02 {
  width: 2.29vw;
  height: 1.95vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.jun-1 {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 0.90vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-8-frame-12 {
  width: 2.01vw;
  height: 1.95vh;
  position: absolute;
  left: 6.55vw;
  top: 0.00vh;
}
.jul-1 {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 0.90vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-8-frame-2 {
  width: 2.36vw;
  height: 1.95vh;
  position: absolute;
  left: 12.81vw;
  top: 0.00vh;
}
.aug-1 {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 0.90vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-8-frame-3 {
  width: 2.29vw;
  height: 1.95vh;
  position: absolute;
  left: 19.43vw;
  top: 0.00vh;
}
.sep-1 {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 0.90vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-8-frame-4 {
  width: 2.22vw;
  height: 1.95vh;
  position: absolute;
  left: 25.97vw;
  top: 0.00vh;
}
.oct-1 {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 0.90vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-5-frame-22 {
  border-radius: 12px;
  border-style: solid;
  border-color: #333366;
  border-width: 0.07vw;
  padding: 24px;
  width: 31.67vw;
  height: 30.66vh;
  position: absolute;
  left: 63.06vw;
  top: 37.99vh;
}
.depth-6-frame-0 {
  width: 28.19vw;
  height: 2.34vh;
  position: absolute;
  left: 1.74vw;
  top: 2.44vh;
}
.vistas-totales {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 500;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.vector-02 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.vector-12 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.vector-22 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.tasa-de-participaci-n {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 3.89vw;
  top: 78.81vh;
}
.depth-5-frame-1 {
  border-radius: 12px;
  border-style: solid;
  border-color: #333366;
  border-width: 0.07vw;
  padding: 24px;
  width: 64.44vw;
  height: 30.66vh;
  position: absolute;
  left: 3.40vw;
  top: 86.62vh;
}
.depth-6-frame-02 {
  width: 60.97vw;
  height: 2.34vh;
  position: absolute;
  left: 1.74vw;
  top: 2.44vh;
}
.tasa-de-participaci-n2 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-6-frame-12 {
  padding: 16px 0px 16px 0px;
  width: 60.97vw;
  height: 22.66vh;
  min-height: 17.58vh;
  position: absolute;
  left: 1.74vw;
  top: 5.57vh;
}
.depth-7-frame-02 {
  width: 60.97vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 1.56vh;
  overflow: hidden;
}
.vector-03 {
  width: 60.97vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.vector-13 {
  width: 60.97vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.vector-23 {
  width: 60.97vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.depth-8-frame-03 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60.21vw;
  height: 14.26vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-8-frame-13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60.21vw;
  height: 14.26vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-7-frame-12 {
  width: 60.97vw;
  height: 1.95vh;
  position: absolute;
  left: 0.00vw;
  top: 19.14vh;
}
.depth-8-frame-14 {
  width: 2.01vw;
  height: 1.95vh;
  position: absolute;
  left: 14.74vw;
  top: 0.00vh;
}
.depth-8-frame-22 {
  width: 2.36vw;
  height: 1.95vh;
  position: absolute;
  left: 29.20vw;
  top: 0.00vh;
}
.depth-8-frame-32 {
  width: 2.29vw;
  height: 1.95vh;
  position: absolute;
  left: 44.01vw;
  top: 0.00vh;
}
.depth-8-frame-42 {
  width: 2.22vw;
  height: 1.95vh;
  position: absolute;
  left: 58.75vw;
  top: 0.00vh;
}
.subscriptores {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 3.89vw;
  top: 124.12vh;
}
.rectangle-32 {
  background: #121217;
  border-radius: 21px;
  border-style: solid;
  border-color: #333366;
  border-width: 0.07vw;
  width: 21.25vw;
  height: 11.13vh;
  position: absolute;
  left: 1.81vw;
  top: 52.64vh;
}
.rectangle-31 {
  background: #121217;
  border-radius: 21px;
  border-style: solid;
  border-color: #333366;
  border-width: 0.07vw;
  width: 21.25vw;
  height: 9.67vh;
  position: absolute;
  left: 1.81vw;
  top: 39.75vh;
}
.como-han-interactuadoi-los-usuarios {
  color: #ffffff;
  text-align: center;
  font-family: var(--label-large-font, "Roboto-Medium", sans-serif);
  font-size: 1.11vw;
  line-height: var(--label-large-line-height, 20px);
  letter-spacing: var(--label-large-tracking, 0.1px);
  font-weight: 500;
  position: absolute;
  left: 2.78vw;
  top: 41.31vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenido-destacado {
  color: #ffffff;
  text-align: center;
  font-family: var(--label-large-font, "Roboto-Medium", sans-serif);
  font-size: 1.11vw;
  line-height: var(--label-large-line-height, 20px);
  letter-spacing: var(--label-large-tracking, 0.1px);
  font-weight: 500;
  position: absolute;
  left: 2.57vw;
  top: 53.52vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background: #362645;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 3.91vh;
  position: absolute;
  left: 2.78vw;
  top: 44.24vh;
  overflow: hidden;
}
.state-layer {
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.label-text {
  color: var(--schemes-on-primary, #ffffff);
  text-align: center;
  font-family: var(--m3-label-large-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-label-large-font-size, 14px);
  line-height: var(--m3-label-large-line-height, 20px);
  letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
  font-weight: var(--m3-label-large-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 {
  background: #362645;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 3.91vh;
  position: absolute;
  left: 2.78vw;
  top: 57.52vh;
  overflow: hidden;
}
.depth-5-frame-23 {
  border-radius: 12px;
  border-style: solid;
  border-color: #333366;
  border-width: 0.07vw;
  padding: 24px;
  width: 31.67vw;
  height: 30.66vh;
  position: absolute;
  left: 26.39vw;
  top: 129.69vh;
}
.subscriptores2 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 500;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.vector-04 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.vector-14 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.vector-24 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.depth-5-frame-3 {
  border-radius: 12px;
  border-style: solid;
  border-color: #333366;
  border-width: 0.07vw;
  padding: 24px;
  width: 31.67vw;
  height: 30.66vh;
  position: absolute;
  left: 63.06vw;
  top: 129.69vh;
}
.subscriptores-totales {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 500;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.vector-05 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.vector-15 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.vector-25 {
  width: 28.19vw;
  height: 14.45vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: visible;
}
.rectangle-36 {
  background: #121217;
  border-radius: 21px;
  border-style: solid;
  border-color: #333366;
  border-width: 0.07vw;
  width: 26.32vw;
  height: 30.66vh;
  position: absolute;
  left: 70.83vw;
  top: 86.62vh;
}
.tipo-de-dispositivo {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.39vw;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 72.43vw;
  top: 88.09vh;
}
.chart {
  width: 23.89vw;
  height: 31.74vh;
  position: absolute;
  left: 72.43vw;
  top: 81.54vh;
}
.frame {
  width: 23.89vw;
  height: 39.06vh;
  position: absolute;
  left: 0.00vw;
  top: -37.5px;
}
.chart-line {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 23.89vw;
  position: absolute;
  left: 0.00vw;
  top: 18.16vh;
}
.frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1.39vw;
  height: 2.73vh;
  position: relative;
  overflow: hidden;
}
.bottom-text {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 23.89vw;
  position: absolute;
  left: 0.00vw;
  top: 35.16vh;
}
.text-1 {
  border-radius: var(--8, 8px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.text {
  color: var(--backgrounds-tertiary, #ffffff);
  text-align: center;
  font-family: var(--14-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--14-regular-font-size, 14px);
  line-height: var(--14-regular-line-height, 20px);
  font-weight: var(--14-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.text-2 {
  border-radius: var(--8, 8px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.text-3 {
  border-radius: var(--8, 8px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.text-4 {
  border-radius: var(--8, 8px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.text-5 {
  border-radius: var(--8, 8px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.text-6 {
  border-radius: var(--8, 8px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.vertical-bars {
  padding: 0px 0px 28px 0px;
  width: 23.89vw;
  height: 26.37vh;
  position: absolute;
  left: 0.00vw;
  top: 12.74vh;
}
.vertical-bar-style-1 {
  width: 3.98vw;
  height: 23.63vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
  overflow: hidden;
}
.rectangle {
  background: linear-gradient(
    180deg,
    rgba(201, 78, 118, 0.7) 0%,
    rgba(99, 39, 58, 0.49) 100%
  );
  border-radius: var(--20, 20px);
  width: 5.00vw;
  height: 50%;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0%;
  top: 50%;
}
.vertical-bar-style-12 {
  width: 3.98vw;
  height: 23.63vh;
  position: absolute;
  left: 3.98vw;
  top: 0.00vh;
  overflow: hidden;
}
.rectangle2 {
  background: linear-gradient(
    180deg,
    rgba(201, 78, 118, 0.7) 0%,
    rgba(99, 39, 58, 0.49) 100%
  );
  border-radius: var(--20, 20px);
  width: 5.00vw;
  height: 87.5%;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0%;
  top: 12.5%;
}
.vertical-bar-style-13 {
  width: 3.98vw;
  height: 23.63vh;
  position: absolute;
  left: 7.96vw;
  top: 0.00vh;
  overflow: hidden;
}
.rectangle3 {
  background: linear-gradient(
    180deg,
    rgba(201, 78, 118, 0.7) 0%,
    rgba(99, 39, 58, 0.49) 100%
  );
  border-radius: var(--20, 20px);
  width: 5.00vw;
  height: 62.5%;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0%;
  top: 37.5%;
}
.vertical-bar-style-14 {
  width: 3.98vw;
  height: 19.73vh;
  position: absolute;
  left: 11.94vw;
  top: 3.91vh;
  overflow: hidden;
}
.rectangle4 {
  background: linear-gradient(
    180deg,
    rgba(201, 78, 118, 0.7) 0%,
    rgba(99, 39, 58, 0.49) 100%
  );
  border-radius: var(--20, 20px);
  width: 5.00vw;
  height: 100%;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0%;
  top: 0%;
}
.vertical-bar-style-15 {
  width: 3.98vw;
  height: 23.63vh;
  position: absolute;
  left: 15.93vw;
  top: 0.00vh;
  overflow: hidden;
}
.rectangle5 {
  background: linear-gradient(
    180deg,
    rgba(113, 69, 174, 0.79) 0%,
    rgba(47, 28, 72, 0.62) 100%
  );
  border-radius: var(--20, 20px);
  width: 5.00vw;
  height: 75%;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0%;
  top: 25%;
}
.vertical-bar-style-16 {
  width: 3.98vw;
  height: 23.63vh;
  position: absolute;
  left: 19.91vw;
  top: 0.00vh;
  overflow: hidden;
}
.rectangle6 {
  background: linear-gradient(
    180deg,
    rgba(201, 78, 118, 0.7) 0%,
    rgba(99, 39, 58, 0.49) 100%
  );
  border-radius: var(--20, 20px);
  width: 5.00vw;
  height: 37.5%;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0%;
  top: 62.5%;
}
.rectangle-33 {
  background: #121217;
  border-radius: 21px;
  border-style: solid;
  border-color: #333366;
  border-width: 0.07vw;
  width: 22.85vw;
  height: 23.34vh;
  position: absolute;
  left: 1.88vw;
  top: 133.01vh;
}
.hora-de-actividad-de-tus-usuarios {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.39vw;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: 2.64vw;
  top: 133.79vh;
  width: 14.44vw;
  height: 4.00vh;
}
.card {
  background: #362645;
  border-radius: var(--24, 24px);
  padding: var(--24, 24px);
  display: flex;
  flex-direction: column;
  gap: var(--8, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 21.53vw;
  height: 12.21vh;
  min-width: 18.89vw;
  position: absolute;
  left: 2.64vw;
  top: 140.43vh;
}
.content {
  border-radius: var(--8, 8px);
  display: flex;
  flex-direction: row;
  gap: var(--8, 8px);
  row-gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  border-radius: var(--8, 8px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  position: relative;
}
.text3 {
  color: var(--white-100, #ffffff);
  text-align: left;
  font-family: var(--16-semibold-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--16-semibold-font-size, 16px);
  line-height: var(--16-semibold-line-height, 24px);
  font-weight: var(--16-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.icon {
  background: var(--white-4, rgba(255, 255, 255, 0.04));
  border-radius: var(--80, 80px);
  border-width: 0.07vw;
  border-style: solid;
  border-image: var(
    --linear-border-lighting,
    linear-gradient(
      154.91deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 40.00000059604645%,
      rgba(255, 255, 255, 0) 60.00000238418579%,
      rgba(255, 255, 255, 0.1) 100%
    )
  );
  border-image-slice: 1;
  padding: var(--4, 4px) var(--8, 8px) var(--4, 4px) var(--8, 8px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --drop-shadow-1-box-shadow,
    0px 1px 0px 0px rgba(0, 0, 0, 0.1)
  );
}
.arrow-fall {
  flex-shrink: 0;
  width: var(--28, 28px);
  height: var(--28, 28px);
  position: relative;
  overflow: visible;
}
.content2 {
  border-radius: var(--8, 8px);
  display: flex;
  flex-direction: row;
  row-gap: 8px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text4 {
  color: var(--white-100, #ffffff);
  text-align: left;
  font-family: var(--32-semibold-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--32-semibold-font-size, 32px);
  line-height: var(--32-semibold-line-height, 40px);
  font-weight: var(--32-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.text5 {
  border-radius: var(--8, 8px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text6 {
  color: var(--white-100, #ffffff);
  text-align: left;
  font-family: var(--18-regular-font-family, "Inter-Regular", sans-serif);
  font-size: var(--18-regular-font-size, 18px);
  line-height: var(--18-regular-line-height, 28px);
  font-weight: var(--18-regular-font-weight, 400);
  position: relative;
}
.depth-4-frame-3 {
  border-radius: 20px;
  width: 2.78vw;
  height: 3.91vh;
  position: absolute;
  left: 94.58vw;
  top: 1.86vh;
  overflow: hidden;
  object-fit: cover;
}
.vector-4 {
  width: 1.39vw;
  height: 1.95vh;
  position: absolute;
  left: 80.28vw;
  top: 2.83vh;
  overflow: visible;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.astra-index {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 5.00vw;
  top: 2.00vh;
}
.frame-1 {
  width: 1.74vw;
  height: 2.44vh;
  position: absolute;
  left: 2.15vw;
  top: 1.86vh;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width: 1.18vw;
  height: 1.95vh;
  position: absolute;
  left: 83.82vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width: 1.46vw;
  height: 1.95vh;
  position: absolute;
  left: 86.94vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width: 1.32vw;
  height: 1.95vh;
  position: absolute;
  left: 90.35vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.art-culos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 73.47vw;
  top: 2.83vh;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 69.58vw;
  top: 2.83vh;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 61.94vw;
  top: 2.83vh;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 55.90vw;
  top: 2.83vh;
}
