.mejorar-a-premium,
.mejorar-a-premium * {
  box-sizing: border-box;
}
.mejorar-a-premium {
  background: #121217;
  height: 100.00vh;
  position: relative;
  overflow: hidden;
}
.rectangle-46 {
  background: #362645;
  border-radius: 20px;
  width: 19.17vw;
  height: 56.54vh;
  position: absolute;
  left: 59.58vw;
  top: 12.99vh;
}
.mayor-alcanze-de-publico {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.83vw;
  font-weight: 500;
  position: absolute;
  left: 61.94vw;
  top: 34.77vh;
}
.rectangle-52 {
  background: #d9d9d9;
  border-radius: 20px 20px 0px 0px;
  width: 19.17vw;
  height: 4.00vh;
  position: absolute;
  left: 59.58vw;
  top: 12.99vh;
}
.acceso-a-los-cursos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.83vw;
  font-weight: 500;
  position: absolute;
  left: 61.94vw;
  top: 23.34vh;
}
.depth-4-frame-3 {
  border-radius: 20px;
  width: 2.78vw;
  height: 3.91vh;
  position: absolute;
  left: 94.58vw;
  top: 1.86vh;
  overflow: hidden;
  object-fit: cover;
}
.vector-4 {
  width: 1.39vw;
  height: 1.95vh;
  position: absolute;
  left: 80.28vw;
  top: 2.83vh;
  overflow: visible;
}
.art-culos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 73.47vw;
  top: 2.83vh;
  width: 4.51vw;
  cursor: pointer;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 69.58vw;
  top: 2.83vh;
  width: 2.36vw;
  height: 2.15vh;
  cursor: pointer;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 61.94vw;
  top: 2.83vh;
  width: 5.69vw;
  height: 4.20vh;
  cursor: pointer;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 55.90vw;
  top: 2.83vh;
  width: 4.10vw;
  height: 4.20vh;
  cursor: pointer;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.astra-index {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 5.00vw;
  top: 2.00vh;
  width: 10.28vw;
  cursor: pointer;
}
.frame-1 {
  width: 1.74vw;
  height: 2.44vh;
  position: absolute;
  left: 2.15vw;
  top: 1.86vh;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width: 1.18vw;
  height: 1.95vh;
  position: absolute;
  left: 83.82vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width: 1.46vw;
  height: 1.95vh;
  position: absolute;
  left: 86.94vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width: 1.32vw;
  height: 1.95vh;
  position: absolute;
  left: 90.35vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.rectangle-47 {
  background: #362645;
  border-radius: 20px;
  width: 19.17vw;
  height: 53.03vh;
  position: absolute;
  left: 21.25vw;
  top: 16.50vh;
}
.motor-de-arranque {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 500;
  position: absolute;
  left: 24.44vw;
  top: 18.75vh;
}
.pro {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 500;
  position: absolute;
  left: 67.99vw;
  top: 18.75vh;
}
.acceso-a-los-cursos2 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.83vw;
  font-weight: 500;
  position: absolute;
  left: 23.61vw;
  top: 23.34vh;
}
.group-110 {
  position: absolute;
  inset: 0;
}
.rectangle-51 {
  background: #ffffff;
  border-radius: 20px;
  width: 14.44vw;
  height: 4.20vh;
  position: absolute;
  left: 23.61vw;
  top: 60.94vh;
}
.unirse-como-miembro {
  color: #000000;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.83vw;
  font-weight: 400;
  position: absolute;
  left: 26.46vw;
  top: 62.30vh;
}
.group-112 {
  position: absolute;
  inset: 0;
}
.rectangle-512 {
  background: #ffffff;
  border-radius: 20px;
  width: 14.44vw;
  height: 4.20vh;
  position: absolute;
  left: 61.94vw;
  top: 60.94vh;
}
.unirse-como-miembro2 {
  color: #000000;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.83vw;
  font-weight: 400;
  position: absolute;
  left: 64.79vw;
  top: 62.30vh;
}
.verificacion {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.83vw;
  font-weight: 500;
  position: absolute;
  left: 23.61vw;
  top: 27.15vh;
}
.verificacion2 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.83vw;
  font-weight: 500;
  position: absolute;
  left: 61.94vw;
  top: 27.15vh;
}
.acceso-anticipado-a-nuevos-articulos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.83vw;
  font-weight: 500;
  position: absolute;
  left: 61.94vw;
  top: 42.38vh;
}
.monetizacion-de-contenido {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.83vw;
  font-weight: 500;
  position: absolute;
  left: 23.61vw;
  top: 30.96vh;
}
.monetizacion-de-contenido2 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.83vw;
  font-weight: 500;
  position: absolute;
  left: 61.94vw;
  top: 30.96vh;
}
.m-s-popular {
  color: #000000;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.83vw;
  font-weight: 500;
  position: absolute;
  left: 66.18vw;
  top: 14.94vh;
  width: 6.04vw;
  height: 1.46vh;
}
.ai-para-los-cursos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.83vw;
  font-weight: 500;
  position: absolute;
  left: 61.94vw;
  top: 38.57vh;
}
.mayor-alcanze-de-publico2 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.83vw;
  font-weight: 500;
  position: absolute;
  left: 23.61vw;
  top: 34.77vh;
}
.s-50 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 3.47vw;
  font-weight: 500;
  position: absolute;
  left: 25.83vw;
  top: 50.98vh;
  width: 10.00vw;
  height: 6.74vh;
}
.s-100 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 3.47vw;
  font-weight: 500;
  position: absolute;
  left: 63.89vw;
  top: 50.98vh;
  width: 10.62vw;
  height: 6.74vh;
}
#modal-tarjeta {
  display: none;
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.45);
  z-index: 20000;
  justify-content: center;
  align-items: center;
}

#modal-tarjeta.show {
  display: flex;
}

#modal-tarjeta-content {
  position: relative;
  background: transparent;
  border-radius: 16px;
  box-shadow: 0 4px 32px rgba(0,0,0,0.25);
  padding: 0;
  max-width: 95vw;
  max-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}