.cursos,
.cursos * {
  box-sizing: border-box;
}
.cursos {
  background: #121217;
  height: 100.00vh;
  position: relative;
  overflow: hidden;
}
.depth-4-frame-3 {
  border-radius: 20px;
  width: 2.78vw;
  height: 3.91vh;
  position: absolute;
  left: 94.79vw;
  top: 1.86vh;
  overflow: hidden;
  object-fit: cover;
}
.vector-4 {
  width: 1.39vw;
  height: 1.95vh;
  position: absolute;
  left: 80.49vw;
  top: 2.83vh;
  overflow: visible;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.astra-index {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 5.21vw;
  top: 2.00vh;
  width: 10.28vw;
}
.frame-1 {
  width: 1.74vw;
  height: 2.44vh;
  position: absolute;
  left: 2.36vw;
  top: 1.86vh;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width: 1.18vw;
  height: 1.95vh;
  position: absolute;
  left: 84.03vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width: 1.46vw;
  height: 1.95vh;
  position: absolute;
  left: 87.15vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width: 1.32vw;
  height: 1.95vh;
  position: absolute;
  left: 90.56vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.cursos2 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 2.50vw;
  line-height: 4.39vh;
  letter-spacing: -1px;
  font-weight: 700;
  position: absolute;
  left: 15.49vw;
  top: 9.28vh;
}
.depth-6-frame-1 {
  border-radius: 12px;
  width: 64.44vw;
  height: 4.69vh;
  position: absolute;
  left: 15.49vw;
  top: 18.16vh;
}
.depth-7-frame-0 {
  background: #242447;
  border-radius: 12px 0px 0px 12px;
  padding: 0px 0px 0px 16px;
  width: 2.78vw;
  height: 4.69vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.vector-0 {
  width: 1.67vw;
  height: 2.34vh;
  position: absolute;
  left: 1.11vw;
  top: 1.17vh;
  overflow: visible;
}
.depth-9-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1.39vw;
  height: 1.95vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-7-frame-1 {
  background: #242447;
  border-radius: 0px 12px 12px 0px;
  padding: 8px 16px 8px 8px;
  width: 61.67vw;
  height: 4.69vh;
  position: absolute;
  left: 2.78vw;
  top: 0.00vh;
  overflow: hidden;
}
.buscar-curso {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 400;
  position: absolute;
  left: 0.56vw;
  top: 1.17vh;
  width: 12.08vw;
}
.depth-5-frame-2 {
  background: #242447;
  border-radius: 12px;
  padding: 0px 16px 0px 16px;
  width: 8.75vw;
  height: 3.91vh;
  position: absolute;
  left: 71.18vw;
  top: 9.77vh;
  overflow: hidden;
}
.crear-curso {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 1.67vw;
  top: 0.93vh;
}
.depth-5-frame-0 {
  background: #242447;
  border-radius: 12px;
  padding: 0px 8px 0px 16px;
  width: 7.99vw;
  height: 3.12vh;
  position: absolute;
  left: 16.32vw;
  top: 24.02vh;
}
.cursos3 {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 1.67vw;
  top: 0.54vh;
}
.vector-02 {
  width: 1.39vw;
  height: 1.95vh;
  position: absolute;
  left: 6.04vw;
  top: 0.59vh;
  overflow: visible;
}
.depth-8-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 0.97vw;
  height: 0.78vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.depth-5-frame-1 {
  background: #242447;
  border-radius: 12px;
  padding: 0px 8px 0px 16px;
  width: 7.64vw;
  height: 3.12vh;
  position: absolute;
  left: 25.14vw;
  top: 24.02vh;
}
.niveles {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 1.46vw;
  top: 0.54vh;
}
.vector-03 {
  width: 1.39vw;
  height: 1.95vh;
  position: absolute;
  left: 5.69vw;
  top: 0.59vh;
  overflow: visible;
}
.depth-5-frame-22 {
  background: #242447;
  border-radius: 12px;
  padding: 0px 8px 0px 16px;
  width: 9.86vw;
  height: 3.12vh;
  position: absolute;
  left: 33.61vw;
  top: 24.02vh;
}
.lenguajes {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 1.81vw;
  top: 0.54vh;
}
.vector-04 {
  width: 1.39vw;
  height: 1.95vh;
  position: absolute;
  left: 7.92vw;
  top: 0.59vh;
  overflow: visible;
}
.cursos-gratuitos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.53vw;
  line-height: 2.73vh;
  font-weight: 700;
  position: absolute;
  left: 15.49vw;
  top: 30.57vh;
}
._6-lecciones-2-h-23-m-gratuito {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 15.49vw;
  top: 55.76vh;
}
.depth-7-frame-02 {
  border-radius: 12px;
  width: 20.90vw;
  height: 16.50vh;
  position: absolute;
  left: 37.22vw;
  top: 35.74vh;
  overflow: hidden;
  object-fit: cover;
}
.astronomia-101 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 500;
  position: absolute;
  left: 15.49vw;
  top: 53.42vh;
}
._8-lecciones-1-h-58-m-gratuito {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 37.22vw;
  top: 55.76vh;
}
.el-sistema-solar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 500;
  position: absolute;
  left: 37.22vw;
  top: 53.42vh;
}
.depth-7-frame-03 {
  border-radius: 12px;
  width: 20.90vw;
  height: 16.60vh;
  position: absolute;
  left: 58.96vw;
  top: 35.74vh;
  overflow: hidden;
  object-fit: cover;
}
.depth-7-frame-04 {
  border-radius: 12px;
  width: 20.90vw;
  height: 16.50vh;
  position: absolute;
  left: 15.49vw;
  top: 35.74vh;
  overflow: hidden;
  object-fit: cover;
}
.cursos-premium {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.53vw;
  line-height: 2.73vh;
  font-weight: 700;
  position: absolute;
  left: 15.49vw;
  top: 62.89vh;
}
.depth-7-frame-05 {
  border-radius: 12px;
  width: 20.90vw;
  height: 16.50vh;
  position: absolute;
  left: 15.49vw;
  top: 68.55vh;
  overflow: hidden;
  object-fit: cover;
}
.la-via-lactea {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 500;
  position: absolute;
  left: 15.49vw;
  top: 86.23vh;
}
._9-lecciones-3-h-45-m-premium {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 15.49vw;
  top: 88.57vh;
}
.depth-7-frame-06 {
  border-radius: 12px;
  width: 20.90vw;
  height: 16.50vh;
  position: absolute;
  left: 37.22vw;
  top: 68.55vh;
  overflow: hidden;
  object-fit: cover;
}
.agujeros-negros {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 500;
  position: absolute;
  left: 37.22vw;
  top: 86.23vh;
}
._7-lecciones-2-h-29-m-premium {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 37.22vw;
  top: 88.57vh;
}
.depth-7-frame-07 {
  border-radius: 12px;
  width: 20.90vw;
  height: 16.60vh;
  position: absolute;
  left: 58.96vw;
  top: 68.55vh;
  overflow: hidden;
  object-fit: cover;
}
.exoplanetas {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 500;
  position: absolute;
  left: 58.96vw;
  top: 86.33vh;
}
._11-lecciones-4-h-12-m-premium {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 58.96vw;
  top: 88.67vh;
}
.la-luna {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 500;
  position: absolute;
  left: 59.03vw;
  top: 53.03vh;
  width: 12.29vw;
  height: 2.15vh;
}
._5-lecciones-1-h-14-m-gratuito {
  color: #9494c7;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 400;
  position: absolute;
  left: 58.96vw;
  top: 55.66vh;
}
.art-culos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 73.47vw;
  top: 2.83vh;
  width: 4.51vw;
  cursor: pointer;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 69.58vw;
  top: 2.83vh;
  width: 2.36vw;
  height: 2.15vh;
  cursor: pointer;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 61.94vw;
  top: 2.83vh;
  width: 5.69vw;
  height: 4.20vh;
  cursor: pointer;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 55.90vw;
  top: 2.83vh;
  width: 4.10vw;
  height: 4.20vh;
  cursor: pointer;
}
