.new-post,
.new-post * {
  box-sizing: border-box;
}
.new-post {
  background: #121217;
  height: 100vh;
  width: 100vw;
  position: relative;
}
body{
    background-size: cover;
    background: #121217;
    width:100vw;
    height:100vh ;
}
.nueva-publicaci-n {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 2.22vw;
  line-height: 3.91vh;
  font-weight: 700;
  position: absolute;
  left: 10.14vw;
  top: 21.48vh;
}
.rectangle-18 {
  background: #1c1f26;
  border-style: solid;
  border-color: #3d4054;
  border-width: 0.07vw;
  width: 42.01vw;
  height: 5.66vh;
  position: absolute;
  left: 10.14vw;
  top: 29.49vh;
}
.titulo {
  color: #9ea3b8;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 400;
  position: absolute;
  left: 11.67vw;
  top: 30.96vh;
  width: 4.58vw;
  height: 4.20vh;
}
.rectangle-17 {
  background: #1c1f26;
  border-radius: 12px;
  border-style: solid;
  border-color: #3d4054;
  border-width: 0.07vw;
  width: 42.01vw;
  height: 25.20vh;
  position: absolute;
  left: 10.14vw;
  top: 42.19vh;
}
.rectangle-16 {
  background: #362645;
  border-radius: 12px;
  width: 10.76vw;
  height: 3.91vh;
  position: absolute;
  left: 71.46vw;
  top: 63.48vh;
}
.publicar {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 74.86vw;
  top: 64.40vh;
}
.depth-4-frame-3 {
  border-radius: 50%;
  width: auto;
  height: 3.91vh;
  position: absolute;
  left: 94.58vw;
  top: 1.86vh;
  overflow: hidden;
  object-fit: cover;
}
.vector-4 {
  width: 1.39vw;
  height: 1.95vh;
  position: absolute;
  left: 80.28vw;
  top: 2.83vh;
  overflow: visible;
}
.art-culos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 73.61vw;
  top: 2.83vh;
  width: 4.51vw;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 69.72vw;
  top: 2.83vh;
  width: 2.36vw;
  height: 2.15vh;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 62.08vw;
  top: 2.83vh;
  width: 5.69vw;
  height: 4.20vh;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 56.04vw;
  top: 2.83vh;
  width: 4.10vw;
  height: 4.20vh;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.astra-index {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 5.00vw;
  top: 2.83vh;
  width: 10.28vw;
}
.frame-1 {
  width: auto;
  height: 2.44vh;
  position: absolute;
  left: 2.15vw;
  top: 2.83vh;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width: auto;
  height: 1.95vh;
  position: absolute;
  left: 83.82vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width:auto;
  height: 1.95vh;
  position: absolute;
  left: 86.94vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width:auto;
  height: 1.95vh;
  position: absolute;
  left: 90.35vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.rectangle-21 {
  background: #292b38;
  border-radius: 12px;
  width: 6.94vw;
  height: 3.12vh;
  position: absolute;
  left: 10.14vw;
  top: 46.88vh;
}
.reel {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 11.32vw;
  top: 47.36vh;
  width: 4.58vw;
}
.rectangle-24 {
  background: #292b38;
  border-radius: 12px;
  width: 6.94vw;
  height: 3.12vh;
  position: absolute;
  left: 10.14vw;
  top: 60.55vh;
}
.oculto {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 11.32vw;
  top: 61.04vh;
  width: 4.58vw;
}
.rectangle-25 {
  background: #292b38;
  border-radius: 12px;
  width: 6.94vw;
  height: 3.12vh;
  position: absolute;
  left: 18.06vw;
  top: 60.55vh;
}
.privado {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 19.24vw;
  top: 61.04vh;
  width: 4.58vw;
}
.rectangle-26 {
  background: #292b38;
  border-radius: 12px;
  width: 6.94vw;
  height: 3.12vh;
  position: absolute;
  left: 25.97vw;
  top: 60.55vh;
}
.p-blico {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 27.15vw;
  top: 61.04vh;
  width: 4.58vw;
}
.rectangle-22 {
  background: #292b38;
  border-radius: 12px;
  width: 6.94vw;
  height: 3.12vh;
  position: absolute;
  left: 18.06vw;
  top: 46.88vh;
}
.art-culo {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 27.15vw;
  top: 47.36vh;
  width: 4.58vw;
}
.rectangle-23 {
  background: #292b38;
  border-radius: 12px;
  width: 6.94vw;
  height: 3.12vh;
  position: absolute;
  left: 25.97vw;
  top: 46.88vh;
}
.curso {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 19.24vw;
  top: 47.36vh;
  width: 4.58vw;
}
.tipo-de-publicaci-n {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.67vw;
  line-height: 3.91vh;
  font-weight: 700;
  position: absolute;
  left: 10.14vw;
  top: 40.92vh;
}
.visibilidad {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.67vw;
  line-height: 3.91vh;
  font-weight: 700;
  position: absolute;
  left: 10.21vw;
  top: 54.10vh;
}