.edici-n-art-culo,
.edici-n-art-culo * {
  box-sizing: border-box;
}
#colorPicker {
  cursor: pointer;
      padding: 0;
      border: none;
      background: none;
      width: 16px;
      height: 20px;
    }
.edici-n-art-culo {
  background: #121217;
  height: 100vh;
  width: 100vw;
  min-height: 1240px;
  min-width: 1640px;
  position: relative;
}
.depth-4-frame-3 {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1362px;
  top: 19px;
  overflow: hidden;
  object-fit: cover;
}
.vector-4 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1156px;
  top: 29px;
  overflow: visible;
}
.astra-index {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  position: absolute;
  left: 72px;
  top: 20.5px;
  width: 148px;
}
.frame-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 31px;
  top: 19px;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width: 17px;
  height: 20px;
  position: absolute;
  left: 1207px;
  top: 29px;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width: 21px;
  height: 20px;
  position: absolute;
  left: 1252px;
  top: 29px;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width: 19px;
  height: 20px;
  position: absolute;
  left: 1301px;
  top: 29px;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.por-katherine-astrof-sica-6-d-as {
  color: #ad94c7;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: absolute;
  left: 48px;
  top: 176px;
}
.rectangle-50 {
  background: #59595b;
  border-radius: 10px;
  width: 484px;
  height: 160px;
  position: absolute;
  left: 44px;
  top: 434px;
}
.c-mo-encontrar-constelaciones-en-el-cielo-nocturno {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 59.3px;
  top: 132px;
  width: 272.65px;
  height: 44px;
}
.edit {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 514px;
  top: 126px;
  overflow: visible;
  aspect-ratio: 1;
}
.rectangle-502 {
  background: #59595b;
  width: 484px;
  height: 160px;
  position: absolute;
  left: 48px;
  top: 581px;
}
.edit2 {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.edit3 {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.line-8 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 885px;
  height: 0px;
  position: absolute;
  left: 872px;
  top: 977px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.add-circle {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 640px;
  top: 105px;
  overflow: visible;
}
.group-95 {
  position: absolute;
  inset: 0;
}
.rectangle-503 {
  background: #59595b;
  width: 487px;
  height: 155.4px;
  position: absolute;
  left: 43px;
  top: 209px;
}

.emb-rcate-en-un-viaje-celestial-para-descubrir-las-maravillas-de-las-constelaciones-esta-gu-a-proporciona-t-cnicas-esenciales-para-identificar-constelaciones-desde-mapas-estelares-b-sicos-hasta-m-todos-avanzados-de-navegaci-n-aprende-a-usar-las-coordenadas-celestes-a-comprender-los-cambios-estacionales-y-a-usar-aplicaciones-para-cartografiar-el-cielo-en-tiempo-real-con-instrucciones-claras-y-ayudas-visuales-podr-s-localizar-constelaciones-como-ori-n-la-osa-mayor-y-casiopea-con-facilidad {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 11px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 47px;
  top: 221px;
  width: 481px;
  height: 157px;
}
.depth-6-frame-0 {
  width: 184px;
  height: 122px;
  position: absolute;
  left: 179px;
  top: 454px;
  overflow: hidden;
  object-fit: cover;
}
.art-culos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 1063px;
  top: 29px;
  width: 65px;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 1007px;
  top: 29px;
  width: 34px;
  height: 22px;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 897px;
  top: 29px;
  width: 82px;
  height: 43px;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 810px;
  top: 29px;
  width: 59px;
  height: 43px;
}
.rectangle-7 {
  background: #292b38;
  border-radius: 12px;
  width: 448px;
  height: 56px;
  position: absolute;
  left: 920px;
  top: 197px;
}
.agregar {
  color: #9ea3b8;
  text-align: left;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 938px;
  top: 213px;
  width: 146px;
}
.agregar-topic {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  position: absolute;
  left: 920px;
  top: 146px;
  width: 328px;
}
.rectangle-21 {
  background: #292b38;
  border-radius: 12px;
  width: 133px;
  height: 32px;
  position: absolute;
  left: 920px;
  top: 287px;
}
.stargazing {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 933px;
  top: 293px;
  width: 132px;
}

.editor {
    background-color:  #59595b;
      padding: 10px;
      min-height: 50px;
      width: 500px;
      font-size: 16px;
      top:126px;
      left:43px;
      border-radius: 10px;
      font-family: Arial, sans-serif;
      outline: none;
      position:absolute;
}
.editor2 {
      background-color:  #59595b;
      padding: 10px;
      min-height: 150px;
      width: 500px;
      font-size: 16px;
      top:209px;
      left:43px;
      border-radius: 10px;
      font-family: Arial, sans-serif;
      outline: none;
      position:absolute;
      
    }
.toolbar {
  margin-bottom: 10px;
}

.opciones {
      position: absolute;
      top: 110px;
      left: 550px;
      margin: 0;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 42px;
     
      
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

  .opciones li {
      list-style: none;
      position: relative;
      padding: 10px 20px;
      background-color: #304FE8;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

  .opciones li:hover {
      background-color: #c7d2fe;
    }

  .opciones li:hover ul {
      display: block;
    }

  .opciones ul {
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      
      
      border-radius: 6px;
      padding: 10px 0;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      z-index: 10;
      min-width: 150px;
    }

  .opciones ul li {
      background-color: #f3f4f6;
      padding: 8px 15px;
      border-radius: 4px;
      white-space: nowrap;
    }

  .opciones ul li:hover {
      background-color: #e5e7eb;
    }

  .extra-gap {
  margin-top: 145px; 
  }

  .rectangle-39 {
  background: #304fe8;
  border-radius: 12px;
  width: 94px;
  height: 42px;
  position: absolute;
  left: 959px;
  top: 907px;
}
.guardar {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 975.5px;
  top: 916px;
}
.rectangle-51 {
  background: #304fe8;
  border-radius: 12px;
  width: 94px;
  height: 42px;
  position: absolute;
  left: 1226px;
  top: 907px;
}
.cancelar {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  position: absolute;
  left: 1239.5px;
  top: 916px;
}
