.herramientas-del-creador-reels,
.herramientas-del-creador-reels * {
  box-sizing: border-box;
}
.herramientas-del-creador-reels {
  background: #121217;
  height: 100vh;
  width: 100vw;
  min-height: 1240px;
  min-width: 1640px;
  position: relative;
}
.image-20 {
  width: 150px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 431px;
  object-fit: cover;
}
.depth-4-frame-3 {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1362px;
  top: 19px;
  cursor: pointer;
  overflow: hidden;
  object-fit: cover;
}
.vector-4 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1156px;
  top: 29px;
  overflow: visible;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.astra-index {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  position: absolute;
  left: 72px;
  top: 20.5px;
  width: 148px;
}
.frame-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 31px;
  top: 19px;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width: 17px;
  height: 20px;
  position: absolute;
  left: 1207px;
  top: 29px;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width: 21px;
  height: 20px;
  position: absolute;
  left: 1252px;
  top: 29px;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width: 19px;
  height: 20px;
  position: absolute;
  left: 1301px;
  top: 29px;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.herramientas-del-creador {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  position: absolute;
  left: 31px;
  top: 71px;
}
.reels {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: 41px;
  top: 148px;
}
.art-culos {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: 98px;
  top: 148px;
}
.cursos {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: 180px;
  top: 148px;
}
.n-vistas {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: 810px;
  top: 220px;
}
.n-comentarios {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: 905px;
  top: 220px;
}
.visibilidad {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: 515px;
  top: 220px;
  width: 109px;
  height: 21px;
}
.fecha-de-creaci-n {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: 630px;
  top: 220px;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 906px;
  height: 0px;
  position: absolute;
  left: 28px;
  top: 176px;
  transform-origin: 0 0;
  transform: rotate(0.126deg) scale(1, 1);
}
.rectangle-5 {
  background: #d9d9d9;
  width: 34px;
  height: 4px;
  position: absolute;
  left: 43px;
  top: 172px;
}
.filter {
  width: 31px;
  height: 31px;
  position: absolute;
  left: 50px;
  top: 220px;
  overflow: visible;
}
.group-92 {
  position: absolute;
  inset: 0;
}
.p-blico {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: 525px;
  top: 330px;
  width: 109px;
  height: 21px;
}
.que-pasar-a-si-cayeras-dentro-de-un-agujero-negro {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 220px;
  top: 302px;
  width: 184px;
  height: 44px;
}
.image-18 {
  width: 150px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 288px;
  object-fit: cover;
}
.group-8 {
  width: 1232px;
  height: 122px;
  position: static;
}
.rectangle-48 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 1232px;
  height: 120px;
  position: absolute;
  left: 41px;
  top: 279px;
}
._25-05-2025 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-title-medium-font-size, 16px);
  line-height: var(--m3-title-medium-line-height, 24px);
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 645px;
  top: 330px;
}
._653 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-title-medium-font-size, 16px);
  line-height: var(--m3-title-medium-line-height, 24px);
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 825px;
  top: 330px;
}
._47 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-title-medium-font-size, 16px);
  line-height: var(--m3-title-medium-line-height, 24px);
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 945px;
  top: 330px;
}
.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  left: 475px;
  top: 278px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-7 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  left: 1041px;
  top: 280px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.play-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 314px;
  overflow: visible;
  aspect-ratio: 1;
}
.group-9 {
  width: 94px;
  height: 42px;
  position: static;
}
.rectangle-39 {
  background: #304fe8;
  border-radius: 12px;
  width: 94px;
  height: 42px;
  cursor:pointer;
  position: absolute;
  left: 1053px;
  top: 319px;
}
.editar {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  left: 1077.5px;
  top: 328px;
}
.group-10 {
  width: 94px;
  height: 42px;
  position: static;
}
.rectangle-392 {
  background: #304fe8;
  border-radius: 12px;
  width: 94px;
  height: 42px;
  cursor: pointer;
  position: absolute;
  left: 1169px;
  top: 319px;
}
.eliminar {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  left: 1186.5px;
  top: 328px;
}
.group-93 {
  position: absolute;
  inset: 0;
}
.oculto {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: absolute;
  left: 525px;
  top: 473px;
  width: 109px;
  height: 21px;
}
.cosas-que-puedes-ver-en-el-cielo-esta-noche {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  left: 220px;
  top: 445px;
  width: 184px;
  height: 44px;
}
.rectangle-482 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 1232px;
  height: 120px;
  position: absolute;
  left: 41px;
  top: 422px;
}
._27-05-2025 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-title-medium-font-size, 16px);
  line-height: var(--m3-title-medium-line-height, 24px);
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 645px;
  top: 473px;
}
._26 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-title-medium-font-size, 16px);
  line-height: var(--m3-title-medium-line-height, 24px);
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 825px;
  top: 473px;
}
._2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-title-medium-font-size, 16px);
  line-height: var(--m3-title-medium-line-height, 24px);
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 945px;
  top: 473px;
}
.line-62 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  left: 475px;
  top: 421px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-72 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 120px;
  height: 0px;
  position: absolute;
  left: 1041px;
  top: 423px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.play-circle2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 457px;
  overflow: visible;
  aspect-ratio: 1;
}
.rectangle-393 {
  background: #304fe8;
  border-radius: 12px;
  width: 94px;
  height: 42px;
  cursor: pointer;
  position: absolute;
  left: 1053px;
  top: 462px;
}
.editar2 {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  left: 1077.5px;
  top: 471px;
}
.rectangle-394 {
  background: #304fe8;
  border-radius: 12px;
  width: 94px;
  height: 42px;
  cursor: pointer;
  position: absolute;
  left: 1169px;
  top: 462px;
}
.eliminar2 {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  cursor:pointer;
  position: absolute;
  left: 1186.5px;
  top: 471px;
}
.art-culos2 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 1067px;
  top: 29px;
  width: 65px;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 1011px;
  top: 29px;
  width: 34px;
  height: 22px;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 901px;
  top: 29px;
  width: 82px;
  height: 43px;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  position: absolute;
  left: 814px;
  top: 29px;
  width: 59px;
  height: 43px;
}
