.herramientas-del-creador-cursos,
.herramientas-del-creador-cursos * {
  box-sizing: border-box;
}
.herramientas-del-creador-cursos {
  background: #121217;
  height: 100vh;
  width: 100vw;
  
  position: relative;
}
body{
    background-size: cover;
    background: #121217;
    width:100vw;
    height:100vh ;
}
.depth-4-frame-3 {
  border-radius: 50%;
  width: auto;
  height: 2.2vh;
  position: absolute;
  left: 94.58vw;
  top: 2.3vh;
  overflow: hidden;
  object-fit: cover;
}
.vector-4 {
  width: auto;
  height: 1.39vh;
  position: absolute;
  left: 80.28vw;
  top: 2.83vh;
  overflow: visible;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.astra-index {
   color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 5.00vw;
  top: 2.30vh;
  width: 10.28vw;
}
.frame-1 {
  width: auto;
  height:  1.74vh;
  position: absolute;
  left: 2.15vw;
  top:2.3vh;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width: auto;
  height:  1.18vh;
  position: absolute;
  left: 83.82vw;
  top:  2.83vh;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width: auto;
  height: 1.46vh;
  position: absolute;
  left: 86.94vw;
  top:  2.83vh;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width: auto;
  height: 1.32vh;
  position: absolute;
  left: 90.35vw;
  top:  2.83vh;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.herramientas-del-creador {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 2.22vw;
  line-height: 3.91vh;
  font-weight: 700;
  position: absolute;
  left: 2.15vw;
  top: 6.93vh;
}
.reels {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 2.85vw;
  top: 14.45vh;
}
.art-culos {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 6.81vw;
  top: 14.45vh;
}
.n-vistas {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 56.25vw;
  top: 21.48vh;
}
.n-comentarios {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 62.85vw;
  top: 21.48vh;
}
.visibilidad {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 35.76vw;
  top: 21.48vh;
  width: 7.57vw;
  height: 2.05vh;
}
.fecha-de-creaci-n {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 43.75vw;
  top: 21.48vh;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw 0 0 0;
  width: 62.92vw;
  height: 0.00vh;
  position: absolute;
  left: 1.94vw;
  top: 17.19vh;
  transform-origin: 0 0;
  transform: rotate(0.126deg) scale(1, 1);
}
.rectangle-5 {
  background: #d9d9d9;
  width: 2.71vw;
  height: 0.39vh;
  position: absolute;
  left: 12.92vw;
  top: 16.80vh;
}
.filter {
  width: 2.15vw;
  width: 2.15vw;
  position: absolute;
  left: 3.47vw;
  top: 21.48vh;
  overflow: visible;
}
.cursos {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 12.50vw;
  top: 14.45vh;
}
.group-96 {
  position: absolute;
  inset: 0;
}
.sin-resultados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 2.22vw;
  line-height: 3.91vh;
  font-weight: 700;
  position: absolute;
  left: 27.99vw;
  top: 55.76vh;
}
.search {
  width: 9.31vw;
  height: 13.09vh;
  position: absolute;
  left: 31.04vw;
  top: 40.43vh;
  overflow: visible;
}
.art-culos2 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 73.82vw;
  top: 3vh;
  width: 4.51vw;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 69.93vw;
  top: 3vh;
  width: 2.36vw;
  height: 2.15vh;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 62.29vw;
  top:3vh;
  width: 5.69vw;
  height: 4.20vh;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 56.25vw;
  top: 3vh;
  width: 4.10vw;
  height: 4.20vh;
}
