.herramientas-del-creador-reels,
.herramientas-del-creador-reels * {
  box-sizing: border-box;
}
.herramientas-del-creador-reels {
  background: #121217;
  height: 100vh;
  width: 100vw;

  position: relative;
}
body{
    background-size: cover;
    background: #121217;
    width:100vw;
    height:100vh ;
}
.image-20 {
  width: 10.42vw;
  height: 9.77vh;
  position: absolute;
  left: 3.47vw;
  top: 42.09vh;
  object-fit: cover;
}
.depth-4-frame-3 {
  border-radius: 50%;
  width: auto;
  height: 2.2vh;
  position: absolute;
  left: 94.58vw;
  top: 2.3vh;
  overflow: hidden;
  object-fit: cover;
}
.vector-4 {
  width: auto;
  height: 1.39vh;
  position: absolute;
  left: 80.28vw;
  top: 2.83vh;
  overflow: visible;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.astra-index {
   color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 5.00vw;
  top: 2.30vh;
  width: 10.28vw;
}
.frame-1 {
  width: auto;
  height:  1.74vh;
  position: absolute;
  left: 2.15vw;
  top:2.3vh;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width: auto;
  height:  1.18vh;
  position: absolute;
  left: 83.82vw;
  top:  2.83vh;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width: auto;
  height: 1.46vh;
  position: absolute;
  left: 86.94vw;
  top:  2.83vh;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width: auto;
  height: 1.32vh;
  position: absolute;
  left: 90.35vw;
  top:  2.83vh;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.herramientas-del-creador {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 2.22vw;
  line-height: 3.91vh;
  font-weight: 700;
  position: absolute;
  left: 2.15vw;
  top: 6.93vh;
}
.reels {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 2.85vw;
  top: 14.45vh;
}
.art-culos {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 6.81vw;
  top: 14.45vh;
}
.cursos {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 12.50vw;
  top: 14.45vh;
}
.n-vistas {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 56.25vw;
  top: 21.48vh;
}
.n-comentarios {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 62.85vw;
  top: 21.48vh;
}
.visibilidad {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 35.76vw;
  top: 21.48vh;
  width: 7.57vw;
  height: 2.05vh;
}
.fecha-de-creaci-n {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 43.75vw;
  top: 21.48vh;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw 0 0 0;
  width: 62.92vw;
  height: 0.00vh;
  position: absolute;
  left: 1.94vw;
  top: 17.19vh;
  transform-origin: 0 0;
  transform: rotate(0.126deg) scale(1, 1);
}
.rectangle-5 {
  background: #d9d9d9;
  width: 2.36vw;
  height: 0.39vh;
  position: absolute;
  left: 2.99vw;
  top: 16.80vh;
}
.filter {
  width: 2.15vw;
  width: 2.15vw;
  position: absolute;
  left: 3.47vw;
  top: 21.48vh;
  overflow: visible;
}
.group-92 {
  position: absolute;
  inset: 0;
}
.p-blico {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 36.46vw;
  top: 32.23vh;
  width: 7.57vw;
  height: 2.05vh;
}
.que-pasar-a-si-cayeras-dentro-de-un-agujero-negro {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 15.28vw;
  top: 29.49vh;
  width: 12.78vw;
  height: 4.30vh;
}
.image-18 {
  width: 10.42vw;
  height: 9.77vh;
  position: absolute;
  left: 3.47vw;
  top: 28.12vh;
  object-fit: cover;
}
.group-8 {
  width: 85.56vw;
  height: 11.91vh;
  position: static;
}
.rectangle-48 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw;
  width: 85.56vw;
  height: 11.72vh;
  position: absolute;
  left: 2.85vw;
  top: 27.25vh;
}
._25-05-2025 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: 1.11vw;
  line-height: auto;
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 44.79vw;
  top: 32.23vh;
}
._653 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: 1.11vw;
  line-height: auto;
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 57.29vw;
  top: 32.23vh;
}
._47 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: 1.11vw;
  line-height: auto;
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 65.62vw;
  top: 32.23vh;
}
.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw 0 0 0;
  width: 11.72vh;
  height: 0.00vh;
  position: absolute;
  left: 32.99vw;
  top: 27.15vh;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-7 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw 0 0 0;
  width: 11.72vh;
  height: 0.00vh;
  position: absolute;
  left: 72.29vw;
  top: 27.34vh;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.play-circle {
  width: 3.47vw;
  height:  3.47vw;
  position: absolute;
  left: 6.94vw;
  top: 30.66vh;
  overflow: visible;
  aspect-ratio: 1;
}
.group-9 {
  width: 6.53vw;
  height: 4.10vh;
  position: static;
}
.rectangle-39 {
  background: #304fe8;
  border-radius: 12px;
  width: 6.53vw;
  height: 4.10vh;
  cursor:pointer;
  position: absolute;
  left: 73.12vw;
  top: 31.15vh;
}
.editar {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  left: 74.83vw;
  top: 32.03vh;
}
.group-10 {
  width: 6.53vw;
  height: 4.10vh;
  position: static;
}
.rectangle-392 {
  background: #304fe8;
  border-radius: 12px;
  width: 6.53vw;
  height: 4.10vh;
  cursor: pointer;
  position: absolute;
  left: 81.18vw;
  top: 31.15vh;
}
.eliminar {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  left: 82.40vw;
  top: 32.03vh;
}
.group-93 {
  position: absolute;
  inset: 0;
}
.oculto {
  color: #ffffff;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 700;
  position: absolute;
  left: 36.46vw;
  top: 46.19vh;
  width: 7.57vw;
  height: 2.05vh;
}
.cosas-que-puedes-ver-en-el-cielo-esta-noche {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 1.95vh;
  font-weight: 700;
  position: absolute;
  left: 15.28vw;
  top: 43.46vh;
  width: 12.78vw;
  height: 4.30vh;
}
.rectangle-482 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw;
  width: 85.56vw;
  height: 11.72vh;
  position: absolute;
  left: 2.85vw;
  top: 41.21vh;
}
._27-05-2025 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: 1.11vw;
  line-height:auto;
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 44.79vw;
  top: 46.19vh;
}
._26 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: 1.11vw;
  line-height: auto;
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 57.29vw;
  top: 46.19vh;
}
._2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: 1.11vw;
  line-height: auto;
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 65.62vw;
  top: 46.19vh;
}
.line-62 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw 0 0 0;
  width:11.72vh;
  height: 0.00vh;
  position: absolute;
  left: 32.99vw;
  top: 41.11vh;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-72 {
  
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw 0 0 0;
  width: 11.72vh;
  height: 0.00vh;
  position: absolute;
  left: 72.29vw;
  top: 41.31vh;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.play-circle2 {
  width: 3.47vw;
  height: 3.47vw;
  position: absolute;
  left: 6.94vw;
  top: 44.63vh;
  overflow: visible;
  aspect-ratio: 1;
}
.rectangle-393 {
  background: #304fe8;
  border-radius: 12px;
  width: 6.53vw;
  height: 4.10vh;
  cursor: pointer;
  position: absolute;
  left: 73.12vw;
  top: 45.12vh;
}
.editar2 {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  left: 74.83vw;
  top: 46.00vh;
}
.rectangle-394 {
  background: #304fe8;
  border-radius: 12px;
  width: 6.53vw;
  height: 4.10vh;
  cursor: pointer;
  position: absolute;
  left: 81.18vw;
  top: 45.12vh;
}
.eliminar2 {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 2.34vh;
  font-weight: 700;
  cursor:pointer;
  position: absolute;
  left: 82.40vw;
  top: 46.00vh;
}
.art-culos2 {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 74.10vw;
  top:3vh;
  width: 4.51vw;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 70.21vw;
  top: 3vh;
  width: 2.36vw;
  height: 2.15vh;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 62.57vw;
  top:3vh;
  width: 5.69vw;
  height: 4.20vh;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: auto;
  font-weight: 500;
  position: absolute;
  left: 56.53vw;
  top: 3vh;
  width: 4.10vw;
  height: 4.20vh;
}
