.streaming,
.streaming * {
  box-sizing: border-box;
}
.streaming {
  background: #121217;
  height: 100.00vh;
  position: relative;
  overflow: hidden;
}
.streaming2 {
  background: #121217;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 0.07vw;
  width: 100.00vw;
  height: 100.00vh;
  position: absolute;
  left: 0.00vw;
  top: 0.00vh;
}
.rectangle-49 {
  background: #232222;
  border-radius: 43px;
  width: 29.65vw;
  height: 44.43vh;
  position: absolute;
  left: 67.71vw;
  top: 13.96vh;
}
.depth-6-frame-0 {
  border-radius: 12px;
  width: 60.56vw;
  height: 44.43vh;
  position: absolute;
  left: 2.99vw;
  top: 13.96vh;
  overflow: hidden;
  object-fit: cover;
}
.depth-4-frame-3 {
  border-radius: 50%;
  width:auto;
  height: 3.91vh;
  position: absolute;
  left: 94vw;
  top: 1.86vh;
  overflow: hidden;
  object-fit: cover;
}
.depth-4-frame-4 {
  border-radius: 20px;
  width: 5.49vw;
  height: 7.32vh;
  position: absolute;
  left: 2.99vw;
  top: 61.52vh;
  overflow: hidden;
  object-fit: cover;
}
.vector-4 {
  width: auto;
  height: 1.95vh;
  position: absolute;
  left: 80.28vw;
  top: 2.83vh;
  overflow: visible;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.astra-index {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.25vw;
  line-height: 2.25vh;
  font-weight: 700;
  position: absolute;
  left: 5.00vw;
  top: 2.83vh;
  width: 10.28vw;
}
.frame-1 {
  width: auto;
  height: 2.44vh;
  position: absolute;
  left: 2.15vw;
  top: 2.83vh;
  overflow: hidden;
  object-fit: cover;
}
.image-1 {
  width: auto;
  height: 1.95vh;
  position: absolute;
  left: 83.82vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 17/20;
}
.image-2 {
  width:auto;
  height: 1.95vh;
  position: absolute;
  left: 86.94vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 21/20;
}
.image-3 {
  width:auto;
  height: 1.95vh;
  position: absolute;
  left: 90.35vw;
  top: 2.83vh;
  object-fit: cover;
  aspect-ratio: 19/20;
}
.articulos {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 74.24vw;
  top: 2.83vh;
  width: 4.51vw;
}
.live {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 70.35vw;
  top: 2.83vh;
  width: 2.36vw;
  height: 2.15vh;
}
.destacados {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 62.71vw;
  top: 2.83vh;
  width: 5.69vw;
  height: 4.20vh;
}
.explorar {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Medium", sans-serif;
  font-size: 0.97vw;
  line-height: 2.05vh;
  font-weight: 500;
  position: absolute;
  left: 56.67vw;
  top: 2.83vh;
  width: 4.10vw;
  height: 4.20vh;
}
.group-61 {
  width: 6.1%;
  height: 8.6%;
  position: absolute;
  right: 63.69%;
  left: 30.21%;
  bottom: 59.47%;
  top: 31.93%;
  overflow: visible;
}
.group-90 {
  position: absolute;
  inset: 0;
}
.group-83 {
  width: 47.01vw;
  height: 3.22vh;
  position: static;
}
.explorando-martes-con-la-nasa {
  color: var(--ffffff, #ffffff);
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 2.64vw;
  line-height: 4.69vh;
  letter-spacing: -0.015em;
  font-weight: 700;
  position: absolute;
  right: 42.85%;
  left: 10.14%;
  width: 47.01%;
  bottom: 33.98%;
  top: 62.79%;
  height: 3.22%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-17 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 81.60vw;
  top: 64.45vh;
}
.group-81 {
  flex-shrink: 0;
  width: 4.24vw;
  height: 5.28vh;
  position: static;
}
.frame-18 {
  width: 1.25vw;
  height: 1.76vh;
  position: absolute;
  left: 1.53vw;
  top: 0.00vh;
}
.group-88 {
  position: absolute;
  inset: 0;
}
.group-89 {
  width: 1.28vw;
  height: 1.37vh;
  position: static;
}
.group-86 {
  width: 0.90vw;
  height: 0.99vh;
  position: static;
}
.rectangle-43 {
  background: var(--black-color-737174, #807e81);
  border-radius: 2px;
  width: 0.90vw;
  height: 0.15vh;
  position: absolute;
  left: 0.00vw;
  top: 0.30vh;
}
.rectangle-44 {
  background: var(--black-color-737174, #807e81);
  border-radius: 2px;
  width: 0.90vw;
  height: 0.15vh;
  position: absolute;
  left: 0.00vw;
  top: 0.72vh;
}
.rectangle-45 {
  background: var(--black-color-737174, #807e81);
  border-radius: 2px;
  width: 0.60vw;
  height: 0.15vh;
  position: absolute;
  left: 0.00vw;
  top: 1.14vh;
}
.group-85 {
  width: 0.54vw;
  height: 0.76vh;
  position: static;
}
.group-84 {
  width: 0.54vw;
  height: 0.76vh;
  position: static;
}
.rectangle-46 {
  background: var(--black-color-737174, #807e81);
  border-radius: 2px;
  width: 0.54vw;
  height: 0.15vh;
  position: absolute;
  left: 0.74vw;
  top: 1.21vh;
}
.rectangle-47 {
  background: var(--black-color-737174, #807e81);
  border-radius: 2px;
  width: 0.54vw;
  height: 0.15vh;
  position: absolute;
  left: 1.06vw;
  top: 0.90vh;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.watchlist {
  color: var(--black-color-737174, #807e81);
  text-align: left;
  font-family: "GilroyMedium-☞", sans-serif;
  font-size: 0.97vw;
  line-height: 1.95vh;
  font-weight: 400;
  position: absolute;
  left: 0.00vw;
  top: 3.32vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-82 {
  flex-shrink: 0;
  width: 2.64vw;
  height: 5.27vh;
  position: static;
}
.frame {
  width: 1.67vw;
  height: 2.34vh;
  position: absolute;
  left: 7.92vw;
  top: 0.00vh;
  overflow: visible;
}
.share {
  color: var(--black-color-737174, #807e81);
  text-align: center;
  font-family: "GilroyMedium-☞", sans-serif;
  font-size: 0.97vw;
  line-height: 1.95vh;
  font-weight: 400;
  position: absolute;
  left: 7.57vw;
  top: 3.32vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-91 {
  position: absolute;
  inset: 0;
}
.descripci-n {
  color: var(--ffffff, #ffffff);
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.67vw;
  line-height: 3.12vh;
  font-weight: 700;
  position: absolute;
  left: 2.99vw;
  top: 71.58vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bizli-is-a-2018-bangladeshi-superhero-film-directed-by-iftakar-chowdhury-and-produced-by-bobstar-films-it-stars-bobby-as-the-protagonist-and-indian-actress-satabdi-roy-as-the-antagonist-the-film-was-released-countrywide-on-t-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-content-of-a-page-when-looking-at-its-layout-the-point-of-using-lorem-ipsum-is-that-it-has-a-more-or-less-normal-distribution-of-letters {
  color: var(--black-color-737174, #807e81);
  text-align: left;
  font-family: var(--p1-font-family, "GilroyRegular-☞", sans-serif);
  font-size: var(--p1-font-size, 16px);
  line-height: var(--p1-line-height, 24px);
  font-weight: var(--p1-font-weight, 400);
  position: absolute;
  right: 8.19%;
  left: 2.99%;
  width: 88.82%;
  bottom: 16.21%;
  top: 76.46%;
  height: 7.32%;
}
.group-57 {
  position: absolute;
  inset: 0;
}
.rectangle-32 {
  background: #304fe8;
  border-radius: 0px 3px 3px 0px;
  width: 9.58vw;
  height: 6.05vh;
  position: absolute;
  left: 68.40vw;
  top: 62.79vh;
}
.suscribete {
  color: var(--ffffff, #ffffff);
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 2.15vh;
  font-weight: 700;
  position: absolute;
  left: 70.42vw;
  top: 64.75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.depth-8-frame-2 {
  background: #59595b;
  border-radius: 12px;
  padding: 0px 16px 0px 16px;
  width: 22.29vw;
  height: 3.61vh;
  position: absolute;
  left: 69.38vw;
  top: 52.34vh;
  overflow: hidden;
}
.chatear {
  color: rgba(251, 246, 246, 0.71);
  text-align: center;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 1.11vw;
  line-height: 2.15vh;
  font-weight: 700;
  position: absolute;
  left: 1.94vw;
  top: 0.78vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.streaming .send {
  width: 2.22vw;
  height: 2.93vh;
  position: absolute;
  left: 93.47vw;
  top: 52.73vh;
  overflow: visible;
}
