.login,
.login * {
  box-sizing: border-box;
}
.login {
  background: #ffffff;
  border-radius: 34px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.69vw;
  width: 100vw;
  height: 100.00vh;
  position: relative;
  box-shadow: 0px 0px 45px 0px rgba(225, 194, 168, 1);
  overflow: hidden;
}

.image-21 {
  width: 135.87vw;
  height: 127.44vh;
  position: absolute;
  left: -49px;
  top: -119px;
  object-fit: cover;
  aspect-ratio: 1956.54/1305;
}
.rectangle-9636 {
  background: #121217;
  width: 56.32vw;
  height: 109.77vh;
  position: absolute;
  left: 46.88vw;
  top: -28px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.astra-index {
  color: #ffffff;
  text-align: left;
  font-family: "SpaceGrotesk-Bold", sans-serif;
  font-size: 3vw;
  line-height:auto;
  font-weight: 700;
  position: absolute;
  left: 67.08vw;
  top: 18vh;
  width: 30vw;
  height: 9.62vh;
}
.frame-1 {
  
  width: 7vw;
  height:auto;
  position: absolute;
  left: 58.54vw;
  top:16.90vh;
 
  overflow: hidden;
  object-fit: cover;
}
.frame-10 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 64.03vw;
  top: 94.34vh;
}
.not-registered-yet {
  color: var(--gray-3, #828282);
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 1.25vw;
  font-weight: 400;
  position: relative;
}
.create-an-account {
  color: #304fe8;
  text-align: left;
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  position: relative;
}
.frame-14 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 58.75vw;
  top: 28.71vh;
}
.frame-13 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.login-to-your-account {
  color: #ffffff;
  text-align: left;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 2.50vw;
  font-weight: 700;
  position: relative;
}
.see-what-is-going-on-with-your-business {
  color: #525252;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 1.11vw;
  font-weight: 400;
  position: relative;
}
.frame-12 {
  border-radius: 5px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 29.17vw;
  position: relative;
}
.image-2 {
  border-radius: 10px;
  flex-shrink: 0;
  width: auto;
  height: 2.44vh;
  position: relative;
  object-fit: cover;
}
.continue-with-google {
  color: var(--gray-3, #828282);
  text-align: left;
  font-family: "NunitoSans-Bold", sans-serif;
  font-size: 0.97vw;
  font-weight: 700;
  position: relative;
}
.or-sign-in-with-email {
  text-align: left;
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-size: 0.83vw;
  font-weight: 600;
  position: relative;
}
.or-sign-in-with-email-span {
  color: #dddddd;
}
.or-sign-in-with-email-span2 {
  color: #a1a1a1;
}
.frame-122 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-11 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.email {
  color: #ffffff;
  text-align: left;
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-size: 0.97vw;
  font-weight: 600;
  position: relative;
}
.frame-3 {
  border-radius: 5px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw;
  padding: 13px 10px 13px 10px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 29.17vw;
  position: relative;
}
.mail-abc-com {
  color: var(--gray-5, #e0e0e0);
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 0.97vw;
  font-weight: 400;
  position: relative;
}
.frame-9 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.password {
  color: #ffffff;
  text-align: left;
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-size: 0.97vw;
  font-weight: 600;
  position: relative;
}
.frame-4 {
  border-radius: 5px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.07vw;
  padding: 18px 10px 13px 10px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 29.17vw;
  position: relative;
}
.div {
  color: var(--gray-5, #e0e0e0);
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 0.69vw;
  font-weight: 400;
  position: relative;
}
.frame-8 {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.checkbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.check {
  flex-shrink: 0;
  width: 0.83vw;
  height: 1.17vh;
  position: relative;
}
.icon-checkbox-unfilled {
  background: #304fe8;
  border-radius: 2px;
  border-style: solid;
  border-color: #304fe8;
  border-width: 0.14vw;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.check-solid-2 {
  width: 83.33%;
  height: 83.33%;
  position: absolute;
  right: 8.33%;
  left: 8.33%;
  bottom: 9.52%;
  top: 7.14%;
  overflow: hidden;
}
.icons-navigation-others-10-check {
  width: 0.56vw;
  height: 0.78vh;
  position: absolute;
  left: 0.07vw;
  top: 0.11vh;
  overflow: visible;
}
.remember-me {
  color: #ffffff;
  text-align: left;
  font-family: "NunitoSans-Regular", sans-serif;
  font-size: 0.83vw;
  font-weight: 400;
  position: relative;
}
.forgot-password {
  color: #304fe8;
  text-align: left;
  font-family: "NunitoSans-SemiBold", sans-serif;
  font-size: 0.7vw;
  font-weight: 600;
  position: relative;
}
.frame-7 {
  background: #304fe8;
  border-radius: 6px;
  padding: 13px 10px 12px 10px;
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 29.17vw;
  position: relative;
}
.login2 {
  color: #ffffff;
  text-align: left;
  font-family: "NunitoSans-ExtraBold", sans-serif;
  font-size: 1.25vw;
  font-weight: 800;
  position: relative;
}
