* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v6_2 {
  width: 100%;
  height: 1800px;
  background: rgba(18,18,23,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_51 {
  width: 928px;
  height: 480px;
  background: url("../images/v6_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 256px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v10_2 {
  width: 480px;
  height: 64px;
  background: url("../images/v10_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 224px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v10_3 {
  width: 36px;
  height: 64px;
  background: rgba(28,30,38,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow: hidden;
}
.v10_4 {
  width: 20px;
  height: 20px;
  background: url("../images/v10_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 16px;
  overflow: hidden;
}
.v10_5 {
  width: 20px;
  height: 20px;
  background: rgba(158,163,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v10_6 {
  width: 16px;
  height: 16px;
  background: url("../images/v10_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1796px;
  left: 1419px;
  overflow: hidden;
}
.v10_7 {
  width: 341px;
  height: 64px;
  background: rgba(28,30,38,1);
  padding: 8px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 36px;
  overflow: hidden;
}
.v10_8 {
  width: 253px;
  color: rgba(158,163,183,1);
  position: absolute;
  top: 20px;
  left: 8px;
  font-family: Space Grotesk;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v10_9 {
  width: 103px;
  height: 64px;
  background: rgba(28,30,38,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 377px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v10_10 {
  width: 95px;
  height: 48px;
  background: rgba(48,79,232,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v10_11 {
  width: 54px;
  height: 24px;
  background: url("../images/v10_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
  overflow: hidden;
}
.v10_12 {
  width: 54px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Space Grotesk;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v6_74 {
  width: 240px;
  height: 240px;
  background: url("../images/v6_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 765px;
  left: 262px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v6_78 {
  width: 240px;
  height: 240px;
  background: url("../images/v6_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 765px;
  left: 514px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_82 {
  width: 240px;
  height: 240px;
  background: url("../images/v6_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 765px;
  left: 766px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_86 {
  width: 240px;
  height: 240px;
  background: url("../images/v6_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 765px;
  left: 1018px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_111 {
  width: 107px;
  height: 32px;
  background: rgba(48,79,232,1);
  opacity: 1;
  position: absolute;
  top: 1224px;
  left: 1086px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_119 {
  width: 301px;
  height: 169px;
  background: url("../images/v6_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1485px;
  left: 262px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_126 {
  width: 301px;
  height: 169px;
  background: url("../images/v6_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1485px;
  left: 575px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_133 {
  width: 301px;
  height: 170px;
  background: url("../images/v6_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1485px;
  left: 888px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_101 {
  width: 464px;
  height: 256px;
  background: url("../images/v6_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1137px;
  left: 262px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_70 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 709px;
  left: 262px;
  font-family: Space Grotesk;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v6_76 {
  width: 46px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1021px;
  left: 262px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_80 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1021px;
  left: 514px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_84 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1021px;
  left: 766px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_88 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1021px;
  left: 1018px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_98 {
  width: 157px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1081px;
  left: 262px;
  font-family: Space Grotesk;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v6_104 {
  width: 291px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1153px;
  left: 742px;
  font-family: Space Grotesk;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v6_108 {
  width: 344px;
  color: rgba(158,163,183,1);
  position: absolute;
  top: 1180px;
  left: 742px;
  font-family: Space Grotesk;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_110 {
  width: 162px;
  color: rgba(158,163,183,1);
  position: absolute;
  top: 1232px;
  left: 742px;
  font-family: Space Grotesk;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_113 {
  width: 64px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1229px;
  left: 1107px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v6_115 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1429px;
  left: 262px;
  font-family: Space Grotesk;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v6_122 {
  width: 203px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1666px;
  left: 262px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_124 {
  width: 144px;
  color: rgba(158,163,183,1);
  position: absolute;
  top: 1690px;
  left: 262px;
  font-family: Space Grotesk;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_129 {
  width: 301px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1666px;
  left: 575px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_131 {
  width: 144px;
  color: rgba(158,163,183,1);
  position: absolute;
  top: 1714px;
  left: 575px;
  font-family: Space Grotesk;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_136 {
  width: 290px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1667px;
  left: 888px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_138 {
  width: 144px;
  color: rgba(158,163,183,1);
  position: absolute;
  top: 1691px;
  left: 888px;
  font-family: Space Grotesk;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_54 {
  width: 526px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 380px;
  left: 456px;
  font-family: Space Grotesk;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v6_56 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 479px;
  left: 641px;
  font-family: Space Grotesk;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v61_611 {
  width: 40px;
  height: 40px;
  background: url("../images/v61_611.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 1362px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v61_612 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1300px;
}
.v61_613 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1252px;
}
.v61_614 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1204px;
}
.v61_615 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1156px;
}
.v61_616 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 1041px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v61_617 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 958px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v61_618 {
  width: 60px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 874px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v61_619 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 28px;
  left: 785px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v61_620 {
  width: 59px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 27px;
  left: 701px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v61_621 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 72px;
  font-family: Space Grotesk;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v61_622 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 40px;
}
.v61_623 {
  width: 156px;
  height: 32px;
  background: rgba(53,38,68,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 208px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v61_624 {
  width: 124px;
  height: 21px;
  background: url("../images/v61_624.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 16px;
  overflow: hidden;
}
.v61_625 {
  width: 124px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v61_626 {
  width: 91px;
  height: 40px;
  background: rgba(53,38,68,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 389px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v61_627 {
  width: 59px;
  height: 21px;
  background: url("../images/v61_627.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 16px;
  overflow: hidden;
}
.v61_628 {
  width: 59px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
