button,
input[type="button"],
input[type="submit"],
input[type="reset"],
a.btn,        /* por si tienes enlaces con clase .btn */
[class*="btn"] /* cualquier clase que incluya "btn" */
{
  cursor: pointer;
}
.depth-0-frame-0,
.depth-0-frame-0 * {
  box-sizing: border-box;
}
.depth-0-frame-0 {
  background: #121217;
  height: 800px;
  position: relative;
  overflow: hidden;
}
.depth-1-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1280px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.depth-2-frame-0 {
  padding: 20px 160px 20px 160px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.depth-3-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 760px;
  max-width: 960px;
  position: relative;
  overflow: hidden;
}
.depth-4-frame-0 {
  padding: 24px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._404 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-1 {
  padding: 20px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.oops-la-pagina-que-estas-buscando-no-existe {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.depth-4-frame-2 {
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.depth-5-frame-0 {
  background: #362645;
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  min-width: 84px;
  max-width: 480px;
  position: relative;
  overflow: hidden;
}
.depth-6-frame-0 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.go-to-homepage {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
